/**
palette - 
  black - #3d3d3d
  navy blue - #204051
  dark blue - #3b6978
  blue - #84a9ac
  light blue - #cae8d5
**/

body {
  font-family: Lato, sans-serif;
  margin: 0;
  box-sizing: border-box;
  font-weight: 300;
}

.img-1 {
  height: 100vh;
  background-image: url("./images/back1.jpg");
  background-position: center;
}

.img-2 {
  height: 50vh;
  background-image: url("./images/back2.jpg");
  background-position: center;
}

.img-3 {
  height: 50vh;
  background-image: url("./images/back3.jpg");
  background-position: center;
}

.img-4 {
  height: 100vh;
  background-image: url("./images/back4.jpg");
  background-position: top;
}

.img-1,
.img-2,
.img-3,
.img-4 {
  opacity: 0.9;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
}

.img-1-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
}

.title {
  color: white;
  font-size: 70px;
  text-align: center;
  text-shadow: 0 1px 5px black;
}

.custom-btn {
  margin-top: 4rem;
  border-radius: 5rem;
  font-size: 1.2rem;
  padding: 1rem 3rem;
  border: none;
  outline: none;
  color: white;
  background-color: #3b6978;
  cursor: pointer;
  box-shadow: 0 1px 5px black;
  transition: all .4s ease;
}

.custom-btn:hover {
  opacity: .9;
  box-shadow: 0px 3px 15px black;
}

.section {
  background-color: #3d3d3d;
  color: #fff;
  text-align: center;
  padding: 50px;
}

.section-light {
  color: #3d3d3d;
  background-color: #fff;
}

:root {
  --color-grey-dark: #323031;
  --color-grey-light: #d9dcd6;
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.05);
}

.reviews-section {
  height: 100vh;
  background-color: #3d3d3d;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.review {
  width: 20rem;
  background-color: #84a9ac;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.review-img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.review-person {
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review-person p {
  margin: 3px 0;
}

.adventures-img-1 {
  background-image: url("./images/paraglid.jpg");
}

.adventures-img-2 {
  background-image: url("./images/scooba.jpg");
}

.adventures-img-3 {
  background-image: url("./images/bungi.jpg");
}

.adventures-img-1,
.adventures-img-2,
.adventures-img-3 {
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.adventures-section {
  color: #3d3d3d;
  background-color: #fff;
  text-align: center;
  padding: 40px;
  font-size: 50px;
  text-transform: uppercase;
}

.tours {
  height: 100vh;
  background-image: linear-gradient(to bottom, #cae8d5, #3b6978);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.tours-info {
  flex-grow: 1;
  color: white;
  padding-right: 20px;
}

.tours-heading {
  font-size: 50px;
  font-weight: 300;
  text-align: center;
  margin: 0 0 40px 0;
}

.tours-img-container {
  position: relative;
  flex: 700px 0 0;
  height: 100%;
}

.tours-details {
  font-size: 18px;
}

ul {
  padding-left: 20px;
  font-size: 18px;
}

li {
  margin-bottom: 10px;
}

.tours-img {
  background-position: bottom;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  width: 300px;
  height: 400px;
  transition: transform 0.4s ease;
  border-radius: 8px;
}

.tours-img:hover {
  transform: scale(1.1) translateY(5px);
  z-index: 100;
}

.tours-img-1 {
  background-image: url("./images/camp.jpg");
  z-index: 1;
  right: 400px;
  top: 10%;
}

.tours-img-2 {
  background-image: url("./images/hike.jpg");
  z-index: 3;
  right: 180px;
  top: 30%;
}

.tours-img-3 {
  background-image: url("./images/night.jpg");
  z-index: 2;
  right: 0;
  top: 20%;
}
