/**
palette - 
  black - #3d3d3d
  navy blue - #204051
  dark blue - #3b6978
  blue - #84a9ac
  light blue - #cae8d5
**/

body {
  font-family: Lato, sans-serif;
  margin: 0;
  box-sizing: border-box;
  font-weight: 300;
}

.img-1 {
  height: 100vh;
  background-image: url("./images/back1.jpg");
  background-position: center;
}

.img-2 {
  height: 50vh;
  background-image: url("./images/back2.jpg");
  background-position: center;
}

.img-3 {
  height: 50vh;
  background-image: url("./images/back3.jpg");
  background-position: center;
}

.img-4 {
  height: 100vh;
  background-image: url("./images/back4.jpg");
  background-position: top;
}

.img-1,
.img-2,
.img-3,
.img-4 {
  opacity: 0.9;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
}

.img-1-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  color: white;
  text-shadow: 0 1px 5px black;
}

.img-1-content > i {
  font-size: 60px;
}

.img-1-content > p {
  font-size: 18px;
  font-weight: 400;
}

.title {
  font-size: 70px;
  text-align: center;
}

.custom-btn {
  margin-top: 4rem;
  border-radius: 5rem;
  font-size: 1.2rem;
  padding: 1rem 3rem;
  border: none;
  outline: none;
  color: white;
  background-color: #3b6978;
  cursor: pointer;
  box-shadow: 0 1px 5px black;
  transition: all .4s ease;
}

.custom-btn:hover {
  background-color: #84a9ac;
  box-shadow: 0px 3px 15px black;
  transition: all .4s ease;
}

.custom-btn > a {
  all: unset;
  color: white;
}

.custom-btn > a:hover {
  all: unset;
  color: white;
}

.section {
  background-color: #3d3d3d;
  color: #fff;
  text-align: center;
  padding: 50px;
}

.section-light {
  color: #3d3d3d;
  background-color: #fff;
}

:root {
  --color-grey-dark: #323031;
  --color-grey-light: #d9dcd6;
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.05);
}

.adventures-img-1 {
  background-image: url("./images/paraglid.jpg");
}

.adventures-img-2 {
  background-image: url("./images/scooba.jpg");
}

.adventures-img-3 {
  background-image: url("./images/bungi.jpg");
}

.adventures-img-1,
.adventures-img-2,
.adventures-img-3 {
  height: 80vh ;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
}

.adventures-section {
  color: #3d3d3d;
  background-color: #fff;
  text-align: center;
  padding: 40px 5px;
  font-size: 50px;
  text-transform: uppercase;
}

.adv-img-content {
  background-color: white;
  opacity: .6;
  max-width: 500px;
  min-width: 300px;
  padding: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) skewX(-10deg);
  box-shadow: 2px 5px 10px black;
}

.adv-img-content > p {
  transform: skewX(10deg);
  color: #204051;
  font-weight: 400;
  text-align: center;
}

.price-tag {
  transform: skewX(10deg);
  border: 2px solid #204051;
  color: #204051;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 100px;
  width: fit-content;
  margin: 0 auto;
  white-space: pre;
}

.tours {
  height: 100vh;
  background-image: linear-gradient(to bottom, #cae8d5, #3b6978);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.tours-info {
  flex-grow: 1;
  color: white;
  padding-right: 20px;
}

.tours-heading {
  font-size: 50px;
  font-weight: 300;
  text-align: center;
  margin: 0 0 40px 0;
}

.tours-img-container {
  position: relative;
  flex: 700px 0 0;
  height: 100%;
}

.tours-details {
  font-size: 18px;
}

ul {
  padding-left: 20px;
  font-size: 18px;
}

li {
  margin-bottom: 10px;
}

.tours-img {
  background-position: bottom;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  width: 300px;
  height: 400px;
  transition: transform 0.4s ease;
  border-radius: 8px;
}

.tours-img:hover {
  transform: scale(1.1) translateY(5px);
  z-index: 100;
}

.tours-img-1 {
  background-image: url("./images/camp.jpg");
  z-index: 1;
  right: 400px;
  top: 10%;
}

.tours-img-2 {
  background-image: url("./images/hike.jpg");
  z-index: 3;
  right: 180px;
  top: 30%;
}

.tours-img-3 {
  background-image: url("./images/night.jpg");
  z-index: 2;
  right: 0;
  top: 20%;
}


/********** ADVENTURES **********/

.adventures {
  min-height: 100vh;
  background-color: #efefef;
  text-align: center;
  padding: 20px;
}

.adv-heading {
  color: #3b6978;
  font-size: 40px;
  font-weight: 300;
}

.quotes {
  font-size: 30px;
  color: #84a9ac;
  font-weight: 600;
  font-style: italic;
}

.quotes-sign {
  font-size: 70px;
  color: #3b6978;
  font-family: Arial, Helvetica, sans-serif;
}

.author {
  font-size: 20px;
  color: #3b6978;
  font-weight: 600;
}

/*********** ADVENTURE FEATURES **********/

.adv-features {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 50px;
}

.adv-feature-element {
  padding: 20px;
  width: 250px;
  background-color: #84a9ac;
  border-radius: 5px;
  color: white;
  transition: .2s all ease-in-out;
  margin-bottom: 20px;
}

.adv-feature-element:hover {
  transform: translateY(-10px);
}

.adv-feature-element > i {
  font-size: 60px;
}

.adv-feature-element > h3 {
  border-bottom: 1px white solid;
  font-size: 25px;
  font-weight: 400;
  margin: 0;
  padding: 10px 0;
  color: #204051;
}

/********** REVIEWS AND FORM **********/

.reviews-and-form {
  height: 100vh;
  background-color: #efefef;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  box-shadow: 0px 2px 10px black;
}

.reviews-section {
  flex: 70% 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #84a9ac;
  height: 100%;
}

.reviews-heading {
  position: absolute;
  transform: rotate(270deg);
  left: 0;
  top: 45%;
  z-index: 500;
  color: white;
  font-size: 50px;
  border-bottom: 2px solid white;
}

.review {
  width: 20rem;
  background-color: white;
  opacity: .8;
  color: #3b6978;
  padding: 10px;
  border-radius: 10px;
}

.review-img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.review-person {
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review-person p {
  margin: 3px 0;
}

.form-section {
  flex: 30% 0 0;
  position: relative;
}

.form-container {
  position: absolute;
  z-index: 1;
  max-width: 450px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: white;
  top: 50%;
  left: -30%;
  transform: translateY(-50%);
  box-shadow: 1px 1px 10px black;
}

.form-container > input {
  padding: 20px;
  border-radius: 100px;
  margin-bottom: 20px;
  width: 80%;
  font-size: 16px;
  font-family: Lato, sans-serif;
  outline: none;
  border: 2px solid #3b6978;
  color: #3b6978;
  background-color: transparent;
}

.form-container > .custom-btn {
  margin: 30px 0;
}

/********** FOOTER **********/

.footer {
  height: 300px;
  background-color: #3d3d3d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer > i {
  color: #84a9ac;
  font-size: 60px;
  margin-bottom: 20px;
  transition: all .2s ease-in-out;
}

.footer > i:hover {
  color: #3b6978;
}

.footer-title {
  font-size: 60px;
  margin: 0;
  color: #84a9ac;
  font-weight: 300;
  transition: all .2s ease-in-out;
}

.footer > i:hover + .footer-title {
  color: #3b6978;
}



/********** MEDIA QUERIES **********/

@media (max-width: 768px) {
  .tours {
    height: unset;
    flex-direction: column;
  }

  .tours-img {
    position: unset;
    margin-bottom: 20px;
  }

  .quotes-sign {
    display: block;
  }

  .quotes-sign:last-child {
    display: none;
  }

  .adv-feature-element {
    width: unset;
  }

  .reviews-and-form {
    height: unset;
  }

  .reviews-section {
    flex: 100% 0 0;
    height: 100vh;
  }

  .form-section {
    flex: 100% 0 0;
  }
  
  .form-container {
    position: unset;
    transform: unset;
    max-width: unset;
    border-radius: 0;
  }

  .reviews-heading {
    position: unset;
    transform: unset;
  }
}
